body {
    font-size: x-large;
    background-color: #26282a;
    color: #df8339;
    text-align: center;
}

#logo {
    width: 200px;
    border: 10px;
}

.pool {
    margin: 10px;
    display: flex;
}

.statContainer {
    float: left;
    width: 33%;
    height: 75px;
    min-width: 130px;
}

.poolTitle {
    text-align: center;
    display: block;
    color: #ffcda4;
    font-weight: bold;
}

.stat {
    text-align: center;
    display: block;
}

.minus {
    float: left;
}

.add {
    float: right;
}

.button {
    background-color: #52565b;
    width: 33%;
    height: 75px;
    text-align: center;
    font-size: 50px;
}

#credits {
    font-size: x-small;
}

a {
    color: #ffcda4;
}

.flag {
    height: 64px;
    opacity: 0.4;
}