body {
    font-size: x-large;
    background-color: #26282a;
    color: #df8339;
    text-align: center;
}

#logo {
    width: 200px;
    border: 10px;
    display: inline-block;
}

#appContainer {
    width: 100%;
}

.pool {
    display: table-row;
    height: 75px;
    width: 100%;
}

.statContainer {
    width: 33%;
    min-width: 130px;
    display:table-cell;
    vertical-align: middle;
}

.poolTitle {
    text-align: center;
    display: block;
    color: #ffcda4;
    font-weight: bold;
}

.stat {
    text-align: center;
    display: block;
}

.button {
    display:table-cell;
    background-color: #52565b;
    width: 33%;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
    border-radius: 15px;
}

#credits {
    font-size: x-small;
    display: inline-block;
}

a {
    color: #ffcda4;
}

.flag {
    margin-top: 10px;
    height: 64px;
    opacity: 0.4;
}

.tableDiv {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.gmDiv {
    width: 100%;
    text-align: left;
}

.poolVignette {
    display: inline-block;
    width: 400px;
    border-collapse: separate;
    border-spacing: 10px;
}

#numenerapool {
     width: 100%;
}

#languages {
    display: block;
}