body {
    font-size: x-large;
    background-color: #26282a;
    color: #df8339;
    text-align: center;
    margin: 0px;
}

#logo {
    width: 200px;
    border: 10px;
    display: inline-block;
}

#appContainer {
    margin: 8px;
}

.pool {
    display: table-row;
    height: 75px;
    width: 100%;
}

.statContainer {
    width: 33%;
    min-width: 130px;
    display:table-cell;
    vertical-align: middle;
}

.poolTitle {
    text-align: center;
    display: block;
    color: #ffcda4;
    font-weight: bold;
}

.stat {
    text-align: center;
    display: block;
}

.button {
    display:table-cell;
    background-color: #52565b;
    width: 33%;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
    border-radius: 15px;
}

#credits {
    font-size: x-small;
    display: inline-block;
}

a {
    color: #ffcda4;
}

.flag {
    margin-top: 10px;
    height: 64px;
    opacity: 0.4;
}

.tableDiv {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.gmDiv {
    display: none;
    text-align: center;
}

.poolVignette {
    display: inline-block;
    width: 400px;
    border-width: 1px;
    border-style: dashed;
    border-color: #df8339;
    margin-right: 5px;
}

.selectedVignette {
     border-color: #FFB025;
     background-color: #413E3A;
}

.addVignette {
    display: inline-block;
    width: 400px;
    border-width: 1px;
    border-style: dashed;
    border-color: #df8339;
    margin-right: 5px;
    height: 80px;
    vertical-align: top;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 15px;
}

.cloneVignette {
    left: 50%;
    border-style: dashed;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: #FFB025;
}

.action {
    background-color: rgba(65,62,58,0.8);
    width: 48%;
    display: inline-block;
    margin:0px;
    height: 65px;
}

.actionBar {
    margin: 0px;
    text-align: center;
    position: fixed;
    height: 65px;
    bottom: 0px;
    z-index: 30;
    font-size: 50px;
    width: 100%;
}

.filler {
    display: block;
    height: 70px;
    width: 100%;
}

#numenerapool {
     width: 100%;
}

#languages {
    display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.appMode {
    width: 100%;
    display: block;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;;
    border-left-width: 0px;
    border-style: dashed;
    border-color: #FFB025;
    margin-bottom: 10px;
}

.mode {
    text-align: center;
    color: #ffcda4;
    font-weight: bold;
    display: inline-block;
    width: 35%;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;;
    border-left-width: 1px;
    border-style: dashed;
    border-color: #df8339;
    margin-right: 5px;
    height: 50px;
}

.selectedMode {
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;;
    border-left-width: 1px;
    border-style: dashed;
    border-color: #FFB025;
    background-color: #413E3A;
}

